#reloadtransparency {
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999;
}
#ViewActivitydiv {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.dataTables_wrapper div.dataTables_info {
  padding-left: 22px;
  padding-bottom: 20px;
}
div.dataTables_wrapper div.dataTables_filter {
  padding-right: 14px;
  padding-top: 14px;
}
table.dataTable thead > tr > th.sorting_asc {
  background: rgba(0,0,0,0.2);
}
.mejs__container {
  margin: 0 auto;
}
